doctype html
html
    head
        title home page | #{siteName}
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/moment.min.js')
        link(rel='stylesheet', href='/style/bootstrap.min.css')
    body
        table(class='table')
            thead
                tr
                    th SELECT HOTELS
                    th CHECK IN DATE
                    th CHECK OUT DATE
                    th NO. OF ROOMS
                    th ROOM 1
            tbody
                tr
                    td
                        input(type='text', class='form-control', id='hotels', placeholder='Select please!')
                    td
                        input(type='date', class='form-control', id='checkinDate', value='')
                    td
                        input(type='date', class='form-control', id='checkoutDate')
                    td
                        select(class='form-control')
                            each val in [1, 2, 3, 4, 5]
                                option(value=val)=val
                    td
                        select(class='form-control')
                            each val in ['1 Adult', '2 Adults', '3 Adults', '...']
                                option(value=val)=val

                    td
                        select(class='form-control')
                            each val in ['1 Child', '2 Children', '3 Children', '...']
                                option(value=val)=val
                    td
                        botton(type='botton', class='btn btn-info') SEARCH ROOM
                    